<h1 align="center" style= "color: cyan">CREACIÓN Y ACCESO A BASES SQL CON PYTHON</h1>

<h2 >MariaDB</h2>

Para usar MySQL o MariaDB importamos el modulo mariadb

In [ ]:
import mariadb

Creamos un diccionario que contenga los parametros de conexión

In [ ]:
conn_mdb_params = {
    "user" : "root",
    "password" : "@Ndresmariadb",
    "host" : "localhost",
    "database" : "test"
}

Luego creamos el objeto CONEXION

In [ ]:
conn_mdb = mariadb.connect(**conn_mdb_params)

Luego creamos el objeto CURSOR, que es una instancia del objeto CONEXION

In [ ]:
cursor_mdb = conn_mdb.cursor()

Para ejecutar querys, usamos el metodo execute()

In [ ]:
cursor_mdb.execute("DROP TABLE IF EXISTS INSTRUCTOR")

Vamos a crear una tabla llamada instructor, usaremos el metodo excute() al cual le pasaremos los parametros como variables table y row

In [ ]:
table = "CREATE TABLE IF NOT EXISTS INSTRUCTOR (ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"
cursor_mdb.execute(table)
print("Se ha creado la tabla")

In [ ]:
row1 = (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
row2 = (2, 'Raul', 'Chong', 'Markhan', 'CA')
row3 = (3, 'Hima', 'Vasudevan', 'Chicago', 'US')

Creamos la variable sql que contendra la sentencia SQL para insertar los datos en la tabla. En MariaDB se usa ? como marcador de posición para las variables

In [ ]:
sql = "INSERT INTO INSTRUCTOR (ID, FNAME, LNAME, CITY, CCODE) VALUES (?, ?, ?, ?, ?)"

Ejecutamos la sentencia para insertar los datos fila por fila

In [ ]:
cursor_mdb.execute(sql, row1)

In [ ]:
cursor_mdb.execute(sql, row2)

In [ ]:
cursor_mdb.execute(sql, row3)

MariaDB tiene deshabilitado por defecto el autocommit, por esta razon debemos hacerlo manualmente

In [ ]:
conn_mdb.commit()

Teniendo datos en la tabla ya podemos hacer consultas a la misma, se debo usar el metodo fetch() para recuperar los resultados de la consulta y poder manipularlos

In [ ]:
statement = "SELECT * FROM INSTRUCTOR"
cursor_mdb.execute(statement)
conn_mdb.commit()


print("All the data")
output = cursor_mdb.fetchall()
for fetch in output:
    print(fetch)

In [ ]:
conn_mdb.close()

<h2>PostgreSQL</H2>

El adaptador para de PostgreSQL para python es psycopg2, asi que lo primero es importarlo

In [1]:
import psycopg2

Es recomendable no poner los parametros de conexión en el codigo, sin embargo para este ejemplo crearemos un diccionario que los contendra

In [2]:
conn_psql_params = {
    "user" : "postgres",
    "password" : "@Ndrespostgres",
    "host" : "localhost",
    "database" : "practicas",
    "port" : 5432
}

Luego creamos el objeto conexión, igual que con MariaDB, psycopg2 tiene un metodo connect()

In [3]:
conn_psql = psycopg2.connect(**conn_psql_params)
cursor_psql = conn_psql.cursor()

Habiendo creado la conexión y el cursor podemos empezar a interactuar con la base de datos. Crearemos una sentencia SQL para eliminar la tabla instructor si esta ya existe

In [4]:
cursor_psql.execute("DROP TABLE IF EXISTS INSTRUCTOR")

Al igual que con MariaDB, tenemos un metodo execute() al cual le pasaremos los parametros como variables. Crearemos la variable table, que contendra la sentencia SQL para crear la tabla instructor y luego ejecutaremos dicha sentencia

In [5]:
table = "CREATE TABLE IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"
cursor_psql.execute(table)

Al igual que con MariaDB, el autocommit esta deshabilitado, es necesario ejecutarlo manualmente

In [6]:
conn_psql.commit()
print("Se ha creado la tabla")

Se ha creado la tabla

Ya tenemos la tabla creada, ahora definiremos las variables que contendran los parametros para poblar la tabla

In [7]:
row1 = (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
row2 = (2, 'Raul', 'Chong', 'Markhan', 'CA')
row3 = (3, 'Hima', 'Vasudevan', 'Chicago', 'US')

Crearemos una variable llamada sql que contendra la sentencia SQL para isertar los datos en la tabla. En PostgreSQL se utiliza %s como marcador de posición para las variables

In [8]:
sql = "INSERT INTO INSTRUCTOR(ID, FNAME, LNAME, CITY, CCODE) VALUES(%s, %s, %s, %s, %s);"

Ejecutamos la sentencia para isertar fila por fila

In [9]:
cursor_psql.execute(sql, row1)

In [10]:
cursor_psql.execute(sql,row2)

In [11]:
cursor_psql.execute(sql, row3)

Ahora solo queda hacer commit para que se registren los cambios en la base

In [12]:
conn_psql.commit()

Teniendo la tabla poblada ya podemos hacer consultas SQL a la base de datos

In [13]:
statement_psql="SELECT * FROM INSTRUCTOR;"
cursor_psql.execute(statement_psql)
conn_psql.commit()

print("All the data")
data = cursor_psql.fetchall()
for fetch in data:
    print(fetch)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markhan', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [ ]:
conn_psql.close()